/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    color: #ecf0f1;
    background-color: rgb(22, 144, 201);
    margin-top: 20px;
    padding: 8px;
    border-radius: 10px;
}

.nav-item:hover {
    color: rgb(23, 23, 23);
    background-color: snow;
}

.admin-button {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.py-5 {
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 100%;
    padding: 0 15px;
    background-color: #f9f9f9;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.admin-panel {
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.list-group {
    width: 100%;
}

.content-button {
    margin-top: 7px;
}

#ir_a_web {
    background-color: #35bdf3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#ir_a_web:hover {
    background-color: #1b88b3;
}

#cerrarSesion {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#cerrarSesion:hover {
    background-color: #bd3838;
}

.table-responsive {
    display: block;
    overflow-x: hidden;
}

.table-cursos, .table-client {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.table-cursos th, .table-cursos td,
.table-client th, .table-client td {
    text-align: center;
    vertical-align: middle;
}

.list-group-item {
    font-size: 1rem;
    padding: 10px 15px;
}

.list-group-item:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.content-button button {
    width: 100%;
}


@media (max-width: 992px) {
    .row {
        flex-wrap: wrap;
    }

    .col-lg-3, .col-lg-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .list-group {
        margin-bottom: 20px;
    }
}